*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: hsl(238, 67%, 19%);
    height: 65px;
    display: flex;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom:15px;
    padding-right: auto;
    gap: 20px;
    

}
.flex-item1{
    height: 35px;
    width:60px;
    border-radius: 0px 12px 0px 12px;
    transition: all 2s ease;
    flex-shrink:0;
    
    

    
}
.flex-item1:hover{
    border-radius:12px 0px 12px 0px;
    border-color: blue;
    border-width: 4px;
    cursor: pointer;


}


.big{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    max-width: 300px;
    flex-shrink: 2;


    
  
}
.icon{
    border-radius: 50%;
    height:35px;
    width:40px;
    background-color: aquamarine;
    border-style: solid;
    border-color: rgb(5, 75, 52);
    border-width: 4px;
    transition: width 3s ease-in-out;
    flex-shrink: 0;
    
}
.icon:hover{
    cursor: pointer;
    border-style: dashed;
    border-width: 8px;


}